<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="superuserpage" >
<head>
	<meta charset="utf-8" />
	<meta name="description" content="formularz logowania" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>e-Dziekanat</title>
	<link th:href="@{/static/css/superuserpage.css}" rel="stylesheet" />
</head>

<body>

	<br />
<!-- 	<div layout:fragment="menu">
	<div id="container">
		
			<a href="fieldsOfStudyList"><div class="button">Kierunki studiów</div></a>
			<a href="teachersList"><div class="button">Nauczyciele</div></a>
			<a href="studentsList"><div class="button">Studenci</div></a>
		
			<a href="addTeacher"><div class="button">Dodaj nauczyciela</div></a>
			<a href="addStudent"><div class="button">Dodaj studenta</div></a>
			<a href="logout"><div class="button">Wyloguj</div></a>
			<div style="clear: both"></div>
		
	</div>
	</div> -->
	<br />
	
</body>
</html>