<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="formularz logowania" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>e-Dziekanat</title>
	<link th:href="@{/css/superuserpage.css}" rel="stylesheet" />
	
	<link th:href="@{/css/lists.css}" rel="stylesheet" />
	
</head>
<body>
	<div th:replace="template::sayWelcome"></div>

	<h3 id="title">Zalogowany jako: <span th:text="${session.userLogin}" style="color:red;"></span></h3>
	<br />
	<h2>Lista studentów</h2>
	<br />
	
		<table border="1" cellpadding="5">
			<tr><th>Id</th><th>Imię</th><th>Nazwisko</th><th>Nr albumu</th><th>e-mail</th><th>Miasto</th><th>Telefon</th><th>Kierunek studiów</th><th>Rok studiów</th><th>Semestr</th><th>Opcje</th></tr>
			<tr th:each="student: ${students}">
				<td><span th:text="${student.id}" /></td>
				<td><span th:text="${student.name}" /></td>
				<td><span th:text="${student.surname}" /></td>
				<td><span th:text="${student.studentsBookNumber}" /></td>
				<td><span th:text="${student.eMail}" /></td>
				<td><span th:text="${student.city}" /></td>
				<td><span th:text="${student.phone}" /></td>
				<td><span th:text="${student.fieldOfStudy}" /></td>
				<td><span th:text="${student.yearOfStudy}" /></td>
				<td><span th:text="${student.currentSemester}" /></td>
				<td>
            		<a th:href="@{/removeStudent/{id}(id=${student.id})}"><span>Usuń</span></a>
      		  </td>
			</tr>
		</table>
	
	<br />
	<div th:replace="template::footer"></div>
</body>
</html>