body
{
	text-align: center;
}

h2
{
	margin-top: 5px;
}

#container
{
	width: 100%;
	text-align: center;
	
}

#containerMenu
{
	width: 200px;
  	margin: 0 auto;
	
}

#topRow
{
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bottomRow
{
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.button
{
 	width: 180px;
	height: 35px;
	background-color: #4CAF50;
	float: left;
	margin: 5px;
	border: none;
    border-radius: 15px;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 15px;
    color: #ffffff;
}

.button:hover
{
	background-color: #45a049;
}

.button2
{
 	width: 180px;
	height: 35px;
	background-color: #337736;
	float: left;
	margin: 5px;
	border: none;
    border-radius: 15px;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 15px;
    color: #ffffff;
}

.button2:hover
{
	background-color: #39562e;
}
